# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Envs
.env
.venv/
venv/
ENV/

# Outputs
outputs/
*.log

# OS
.DS_Store
Thumbs.db


# Frontend
web_ui/node_modules/
web_ui/dist/
web_ui/.env
# Frontend (general)
node_modules/
dist/
build/
*.map
